Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2018-10, with the labels that each got.

#927 [FIX] Disable autoupdates
  build/installer.nsh
  src/background/autoUpdate.js
Labels: feat: installer, plat: windows, type: bug

#914 [NEW] add tray tooltip
  src/background/tray.js
  src/i18n/index.js
  src/i18n/lang/en.i18n.json
Labels: feat: tray icon / dock / taskbar, type: enhancement

#931 [FIX] Main window's visibility toggling in tray window
  src/scripts/events.js
Labels: feat: tray icon / dock / taskbar, type: bug

#933 [IMPROVE] App (main) page
  src/app.js
  src/public/app.html
  src/public/fonts/fontello.html
  src/scripts/sidebar.js
  src/scripts/start.js
  src/scripts/webview.js
  src/stylesheets/main.less
  src/stylesheets/pages/about.less
  src/stylesheets/pages/app.less
  src/stylesheets/pages/loading-error.less
  src/stylesheets/utils/_loading.import.less
  src/stylesheets/utils/loading.less
Labels: feat: side bar / servers list, type: enhancement

#938 [FIX] Move about menu item for MacOS
  src/background/menus.js
  yarn.lock
Labels: feat: menu, plat: osx, type: bug

#941 [FIX] Window closing behavior for Linux environments without a system tray
  src/background/mainWindow.js
  src/scripts/events.js
Labels: feat: tray icon / dock / taskbar, plat: linux, type: bug

#949 [FIX] Reset app data under Windows
  src/background.js
  src/background/appData.js
  src/i18n/lang/en.i18n.json
  src/scripts/servers.js
  yarn.lock
Labels: type: bug

#960 [FIX] Dictionaries path detection in spell checker
  src/public/lib/SpellCheck.js
Labels: feat: spell checker, feat: web view, type: bug
