Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2018-11, with the labels that each got.

#967 [FIX] Main window closing behavior for Linux
  src/background/mainWindow.js
Labels: plat: linux, type: bug

#968 [IMPROVE] Node 11 support
  yarn.lock
Labels: type: bug, type: enhancement

#969 [FIX] Notifications redesigned
  package.json
  src/background.js
  src/background/mainWindow.js
  src/background/notifications.js
  src/public/lib/Notification.js
  src/public/preload.js
  yarn.lock
Labels: feat: notifications, type: bug

#978 [FIX] Fallback notifications for Windows 7
  src/background/notifications.js
Labels: plat: windows, type: bug

#987 [IMPROVE] Update Russian translation
  src/i18n/lang/ru.i18n.json
Labels: feat: i18n, type: enhancement

#990 [FIX] Speed up servers.json loading
  src/scripts/servers.js
Labels: feat: sidebar / servers list, type: enhancement

#1001 [FIX] Check for updates response when an error occurs
  src/background/autoUpdate.js
  src/public/about.html
Labels: feat: installer / update, type: bug

#1000 [FIX] Notification errors
  build/concrt140.dll
  build/vccorlib140.dll
  electron-builder.json
  src/background/notifications.js
  src/public/lib/Notification.js
Labels: feat: notifications, type: bug

#1005 [FIX] Disable FreeDesktopNotification actions for Unity desktop
  src/background/notifications.js
Labels: feat: notifications, plat: linux, type: bug

#998 Update dependencies
  package.json
  yarn.lock
Labels: feat: installer / update, plat: linux, plat: osx, plat: windows

#1011 Remove FEATURES.md
  FEATURES.md
Labels: type: chore

#1013 [FIX] Patch the redistributable Visual C++ DLL according to the arch
  build/afterPack.js
  build/concrt140.dll
  build/ia32/vccorlib140.dll
  build/x64/vccorlib140.dll
  electron-builder.json
Labels: plat: windows, type: bug
