Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2019-02, with the labels that each got.

#1081 [CHORE] Disable artifacts collection by AppVeyor
  appveyor.yml
Labels: type: chore

#1074 [FIX] Fix for basic-auth servers connect
  src/scripts/servers.js
Labels: feat: sidebar / servers list, type: bug

#1076 [IMPROVE] Remove update-remind-later-dialog
  src/i18n/lang/de_DE.i18n.json
  src/i18n/lang/en.i18n.json
  src/i18n/lang/fr.i18n.json
  src/i18n/lang/ja.i18n.json
  src/i18n/lang/pt-BR.i18n.json
  src/i18n/lang/ru.i18n.json
  src/public/update-dialog.html
Labels: feat: installer / update, type: enhancement

#1092 [CHORE] Remove unused styles
  src/public/fonts/fontello.eot
  src/public/fonts/fontello.json
  src/public/fonts/fontello.svg
  src/public/fonts/fontello.ttf
  src/public/fonts/fontello.woff
  src/stylesheets/fontello.less
  src/stylesheets/main.less
  src/stylesheets/rtl.less
  src/stylesheets/variables.less
  yarn.lock
Labels: type: chore

#1096 [IMPROVE] i18next
  .editorconfig
  gulpfile.js
  package.json
  servers.json
  src/background.js
  src/background/aboutDialog.js
  src/background/appData.js
  src/background/certificate.js
  src/background/mainWindow.js
  src/background/menus.js
  src/background/screenshareDialog.js
  src/background/tray.js
  src/background/updateDialog.js
  src/background/updates.js
  src/env.js
  src/i18n/index.js
  src/i18n/lang/de-DE.i18n.json
  src/i18n/lang/de_DE.i18n.json
  src/i18n/lang/en.i18n.json
  src/i18n/lang/fr.i18n.json
  src/i18n/lang/ja.i18n.json
  src/i18n/lang/pt-BR.i18n.json
  src/i18n/lang/ru.i18n.json
  src/preload/contextMenu.js
  src/public/about-dialog.html
  src/public/app.html
  src/public/loading-error.html
  src/public/screenshare-dialog.html
  src/public/update-dialog.html
  src/scripts/servers.js
  src/scripts/sidebar.js
  src/scripts/start.js
  src/scripts/touchBar.js
  tasks/build-app.js
  tasks/build-tests.js
  tasks/bundle.js
  tasks/release.js
  yarn.lock
Labels: feat: i18n, type: enhancement

#1099 [FIX] Updates preloads scripts to be compatible with Rocket.Chat >0.74.0
  package.json
  src/background.js
  src/i18n/lang/en.i18n.json
  src/i18n/lang/pt-BR.i18n.json
  src/preload.js
  src/preload/contextMenu.js
  src/preload/events.js
  src/preload/jitsi.js
  src/preload/links.js
  src/preload/titleChange.js
  src/public/loading-error.html
  src/scripts/sidebar.js
  src/scripts/webview.js
  tasks/build-app.js
  tasks/start.js
  yarn.lock
Labels: feat: web view, type: bug

#1101 [FIX] Use Electron notifications
  package.json
  src/background.js
  src/background/mainWindow.js
  src/background/notifications.js
  src/background/notifications.spec.js
  src/preload/notifications.js
  yarn.lock
Labels: feat: notifications, type: enhancement

#1105 [CHORE] Rewrite Gulp tasks
  .eslintignore
  .gitignore
  .stylelintrc
  build/icon.icns
  build/icons/512x512.png
  gulpfile.js
  package.json
  src/e2e/utils.js
  src/stylesheets/main.less
  src/stylesheets/pages/about.less
  src/stylesheets/pages/app.less
  src/stylesheets/pages/loading-error.less
  src/stylesheets/pages/screenshare.less
  src/stylesheets/pages/update.less
  src/stylesheets/utils/loading.less
  tasks/build-app.js
  tasks/build-icons.js
  tasks/build.js
  tasks/coverage.js
  tasks/e2e.js
  tasks/env.js
  tasks/icons.js
  tasks/index.js
  tasks/release.js
  tasks/start.js
  tasks/test.js
  tasks/utils.js
  yarn.lock
Labels: type: chore

#1115 [FIX] Auto reload server
  src/scripts/webview.js
Labels: feat: web view, type: bug

#1117 [IMPROVE] Updated Japanese translation
  src/i18n/lang/ja.i18n.json
Labels: feat: i18n, type: enhancement
