Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2019-04, with the labels that each got.

#1175 [CHORE] Fix typos
  README.md
Labels: type: chore

#1157 [NEW] Add Traditional Chinese translation
  src/i18n/lang/zh-TW.i18n.json
Labels: feat: i18n

#1164 [FIX] Only set user presence as online when auto away detection is disabled
  src/preload/userPresence.js
Labels: feat: web view, type: bug

#1187 [FIX] Update crashes when host is unreachable
  src/main/updates.js
  yarn.lock
Labels: feat: installer / update, type: bug

#1188 [FIX] Apply workaround for undo and redo actions
  src/main/menus.js
Labels: feat: menu, feat: web view, type: bug

#1189 [FIX] Multiple language selection on spellchecking
  src/preload/spellchecking.js
Labels: feat: spell checker, type: bug

#1196 [FIX] Compute initials for server name on sidebar is broken
  src/scripts/sidebar.js
Labels: feat: sidebar / servers list, type: bug

#1198 [FIX] Deep links handling (incomplete)
  src/main.js
  src/main/deepLinks.js
Labels: type: bug

#1203 [CHORE] Update dependencies
  yarn.lock
Labels: type: chore

#1204 [CHORE] Build configuration update
  electron-builder.json
  tasks/bundle.js
  tasks/coverage.js
  tasks/e2e.js
  tasks/env.js
  tasks/icons.js
  tasks/release.js
  tasks/test.js
Labels: type: chore
