Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2020-10, with the labels that each got.

#1756 fix: Server validation
  jest.config.js
  src/deepLinks/main.ts
  src/preload.ts
  src/servers/common.ts
  src/servers/main.spec.ts
  src/servers/main.ts
Labels: feat: new server page, type: bug

#1758 fix: Window state loading
  src/app/main/data.ts
  src/app/main/persistence.ts
  src/main.ts
  src/types/electron-reloader.d.ts
  src/ui/common.ts
  src/ui/main/rootWindow.ts
  src/ui/main/webviews.ts
  src/ui/reducers/rootWindowState.ts
Labels: feat: settings / preferences, type: bug

#1770 fix: Increase server version range
  src/servers/main.ts
Labels: type: bug

#1763 fix: Update tr-TR.i18n.json
  src/i18n/tr-TR.i18n.json
Labels: feat: i18n

#1772 fix: Add extension filters to save download dialog
  src/ui/main/webviews.ts
Labels: feat: web view, plat: windows, type: bug

#1774 fix: Update pt-BR.i18n
  src/i18n/pt-BR.i18n.json
Labels: feat: i18n, type: bug

#1773 fix: Asynchronous window state changes
  src/app/main/app.ts
  src/deepLinks/main.ts
  src/main.ts
  src/navigation/main.ts
  src/ui/main/dialogs.ts
  src/ui/main/menuBar.ts
  src/ui/main/rootWindow.ts
  src/ui/main/touchBar.ts
  src/ui/main/trayIcon.ts
  src/ui/main/webviews.ts
Labels: type: bug

#1776 fix: 3.0 Client cannot connect to server on subdirectory
  src/servers/main.ts
Labels: feat: new server page, type: bug

#1777 build(osx): Remove unnecessary MAS entitlement
  build/entitlements.mas.plist
Labels: feat: installer / update, plat: osx, type: bug

#1795 fix: Handle certificate errors and handshakes
  package.json
  rollup.config.js
  src/ipc/channels.ts
  src/ipc/main.ts
  src/ipc/renderer.ts
  src/navigation/actions.ts
  src/navigation/main.ts
  src/notifications/main.ts
  src/notifications/renderer.ts
  src/rootWindow.ts
  src/servers/main.ts
  src/servers/renderer.ts
  src/store/ipc.ts
  src/ui/components/AddServerView/index.tsx
  src/ui/components/SelectClientCertificateDialog/index.tsx
  yarn.lock
Labels: feat: new server page, feat: web view, type: bug

#1800 fix: Set connection status instead of user's default status
  src/injected.ts
Labels: type: bug

#1809 fix: Remove Electron and Chrome versions from User-Agent header
  src/navigation/main.ts
Labels: feat: web view, type: bug

#1810 fix: Recover minimized/maximized state on show window when unread count changes
  src/ui/main/rootWindow.ts
Labels: type: bug

#1813 fix: Unavailable languages in electron.session()
  src/spellChecking/main.ts
Labels: feat: spell checker, type: bug

#1823 fix: Use a function to set spell checker filtered languages
  src/spellChecking/main.spec.ts
  src/spellChecking/main.ts
Labels: feat: spell checker, type: bug

#1820 fix: Server in subdirectory
  jest.config.js
  src/notifications/renderer.ts
  src/rootWindow.ts
  src/servers/main.spec.ts
  src/servers/main.ts
  src/servers/renderer.spec.ts
  src/servers/renderer.ts
Labels: feat: new server page, type: bug

#1843 fix: Bugsnag error reporting
  src/main.ts
Labels: type: bug

#1844 fix: System idle threshold
  src/injected.ts
  src/ipc/channels.ts
  src/userPresence/actions.ts
  src/userPresence/common.ts
  src/userPresence/main.ts
  src/userPresence/preload.ts
Labels: type: bug

#1850 fix: Select first server on startup
  src/servers/main.ts
Labels: feat: sidebar / servers list, type: bug

#1851 fix: Apply TouchBar formatting button in focused message box
  src/ui/preload/messageBox.ts
Labels: feat: touchbar, plat: osx, type: bug

#1852 fix: Displaying warning every time the window is minimized to tray
  src/ui/main/trayIcon.ts
Labels: feat: tray icon / dock / taskbar, plat: windows, type: bug

#1853 fix: Dragging and dropping outside content in servers list
  src/ui/components/SideBar/useSorting.tsx
Labels: type: urgent
