Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2020-11, with the labels that each got.

#1861 fix: update.json files ignored
  src/updates/common.ts
  src/updates/main.spec.ts
  src/updates/main.ts
Labels: feat: installer / update, type: bug

#1880 chore(build): Split workflows for push and pull_request events
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
Labels: type: chore

#1886 fix: Update hu.i18n.json
  src/i18n/hu.i18n.json
Labels: feat: i18n, type: enhancement
