Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2020-09, with the labels that each got.

#1704 fix: Update documentation link
  src/ui/main/menuBar.ts
Labels: feat: menu, type: bug

#1706 chore: Update icon generation
  .eslintrc.js
  build/icon.ico
  build/installerIcon.ico
  build/uninstallerIcon.ico
  build/update-icons.js
  package.json
  src/public/images/tray/win32/default.ico
  src/public/images/tray/win32/notification-1.ico
  src/public/images/tray/win32/notification-2.ico
  src/public/images/tray/win32/notification-3.ico
  src/public/images/tray/win32/notification-4.ico
  src/public/images/tray/win32/notification-5.ico
  src/public/images/tray/win32/notification-6.ico
  src/public/images/tray/win32/notification-7.ico
  src/public/images/tray/win32/notification-8.ico
  src/public/images/tray/win32/notification-9.ico
  src/public/images/tray/win32/notification-dot.ico
  src/public/images/tray/win32/notification-plus-9.ico
  yarn.lock
Labels: type: chore

#1709 fix: Opening links with external protocol
  src/app/actions.ts
  src/app/selectors.ts
  src/i18n/en.i18n.json
  src/navigation/actions.ts
  src/navigation/main.ts
  src/navigation/reducers.ts
  src/store/rootReducer.ts
  src/ui/main/dialogs.ts
  src/ui/main/webviews.ts
Labels: subj: security, type: enhancement

#1710 fix: Context isolation in preload script and `openExternal` handling
  src/jitsi/preload.ts
  src/navigation/main.ts
  src/navigation/reducers.ts
  src/notifications/preload.ts
  src/preload.ts
  src/public/index.html
  src/servers/preload/api.ts
  src/servers/preload/badge.ts
  src/servers/preload/favicon.ts
  src/servers/preload/getServerUrl.ts
  src/servers/preload/index.ts
  src/servers/preload/sidebar.ts
  src/servers/preload/title.ts
  src/servers/preload/urls.ts
  src/servers/reducers.ts
  src/ui/components/ServersView/ServerPane.tsx
  src/ui/components/ServersView/styles.tsx
  src/ui/components/Shell/index.tsx
  src/ui/components/SideBar/index.tsx
  src/ui/main/webviews.ts
  src/ui/preload/messageBox.ts
  src/userPresence/preload.ts
Labels: feat: web view, subj: security, type: bug

#1721 fix: Missing tslib at runtime
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Labels: type: bug

#1722 fix: Menu bar crashing
  src/ui/main/menuBar.ts
  src/ui/main/rootWindow.ts
Labels: feat: menu, subj: performance, type: bug

#1723 fix: Verify url protocol in window.open
  src/ui/main/webviews.ts
Labels: feat: web view, subj: security, type: bug

#1720 feat: Use current server's favicon as window/taskbar icon
  src/rootWindow.ts
  src/servers/preload/title.ts
  src/store/rootReducer.ts
  src/ui/actions.ts
  src/ui/common.ts
  src/ui/main/rootWindow.ts
  src/ui/reducers/rootWindowIcon.ts
  src/ui/rootWindow/icon.ts
Labels: feat: tray icon / dock / taskbar, type: new feature

#1726 feat: Deep links
  .eslintrc.js
  package.json
  rollup.config.js
  src/app/main/dev.ts
  src/deepLinks/main.ts
  src/main.ts
  src/navigation/main.ts
  src/preload.ts
  src/servers/main.ts
  src/servers/preload/title.ts
  src/servers/preload/urls.ts
  src/servers/reducers.ts
  src/store/index.ts
  src/ui/main/dialogs.ts
  src/ui/main/rootWindow.ts
  src/ui/main/webviews.ts
  yarn.lock
Labels: feat: web view, type: enhancement

#1730 regression: Dynamically import chokidar in development mode
  src/app/main/dev.ts
Labels: type: bug

#1731 regression: Notifications over context bridge
  rollup.config.js
  src/app/main/dev.ts
  src/injected.ts
  src/notifications/preload.ts
  src/preload.ts
  src/servers/preload/api.ts
Labels: feat: notifications, type: bug

#1732 regression: Clear overlay icon when no global badge
  src/ui/main/rootWindow.ts
Labels: feat: tray icon / dock / taskbar, plat: windows, type: bug

#1734 feat: MSI installer
  .gitignore
  electron-builder.json
  package.json
  yarn.lock
Labels: feat: installer / update, plat: windows, subj: package .msi, type: new feature

#1736 fix: Gracefully exit the app
  src/app/main/app.ts
  src/i18n/main.ts
  src/main.ts
  src/store/index.ts
  src/ui/main/dock.ts
  src/ui/main/menuBar.ts
  src/ui/main/rootWindow.ts
  src/ui/main/touchBar.ts
  src/ui/main/trayIcon.ts
Labels: type: bug

#1737 perf! Chromium spell checker
  README.md
  package.json
  src/app/actions.ts
  src/app/selectors.ts
  src/i18n/en.i18n.json
  src/i18n/fr.i18n.json
  src/i18n/hu.i18n.json
  src/i18n/ja.i18n.json
  src/i18n/pl.i18n.json
  src/i18n/pt-BR.i18n.json
  src/i18n/ru.i18n.json
  src/i18n/tr-TR.i18n.json
  src/i18n/uk-UA.i18n.json
  src/i18n/zh-CN.i18n.json
  src/i18n/zh-TW.i18n.json
  src/main.ts
  src/preload.ts
  src/spellChecking/actions.ts
  src/spellChecking/common.ts
  src/spellChecking/main.ts
  src/spellChecking/preload.ts
  src/spellChecking/reducers.ts
  src/store/rootReducer.ts
  src/ui/actions.ts
  src/ui/main/dialogs.ts
  src/ui/main/webviews.ts
  yarn.lock
Labels: feat: spell checker, type: enhancement

#1739 regression: Clear storage data on remove server
  src/ui/main/webviews.ts
Labels: subj: security, type: bug

#1740 fix: Media permissions
  electron-builder.json
  src/ui/main/webviews.ts
Labels: plat: linux, plat: osx, subj: package .snap, subj: security, type: bug

#1738 feat: New "Add Server" layout
  package.json
  src/deepLinks/main.ts
  src/servers/actions.ts
  src/servers/common.ts
  src/servers/main.ts
  src/servers/reducers.ts
  src/ui/components/AddServerView/index.tsx
  src/ui/components/AddServerView/styles.tsx
  src/ui/components/RocketChatLogo.tsx
  yarn.lock
Labels: feat: new server page, type: enhancement

#1741 regression: Initial window state
  src/app/actions.ts
  src/app/main/data.ts
  src/app/selectors.ts
  src/main.ts
  src/store/rootReducer.ts
  src/ui/main/menuBar.ts
  src/ui/main/rootWindow.ts
  src/ui/main/trayIcon.ts
  src/ui/reducers/rootWindowState.ts
  yarn.lock
Labels: type: bug
