Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2020-12, with the labels that each got.

#1902 fix: Broken Jitsi's browser check
  src/navigation/main.ts
  src/ui/main/serverView/index.ts
Labels: feat: web view, subj: jitsi, type: bug

#1700 feat: Download Manager
  package.json
  src/app/actions.ts
  src/app/main/persistence.ts
  src/app/selectors.ts
  src/downloads/actions.ts
  src/downloads/common.ts
  src/downloads/main.ts
  src/downloads/reducers/downloads.ts
  src/i18n/common.ts
  src/i18n/en.i18n.json
  src/ipc/channels.ts
  src/main.ts
  src/public/images/file-icon.svg
  src/servers/actions.ts
  src/servers/common.ts
  src/servers/main.ts
  src/servers/reducers.ts
  src/servers/renderer.ts
  src/store/actions.ts
  src/store/rootReducer.ts
  src/types/fuselage.d.ts
  src/ui/actions.ts
  src/ui/components/AddServerView/index.tsx
  src/ui/components/DownloadsManagerView/ActionButton.tsx
  src/ui/components/DownloadsManagerView/DownloadItem.tsx
  src/ui/components/DownloadsManagerView/FileIcon.tsx
  src/ui/components/DownloadsManagerView/index.tsx
  src/ui/components/ServersView/index.tsx
  src/ui/components/Shell/index.tsx
  src/ui/components/Shell/styles.tsx
  src/ui/components/SideBar/index.tsx
  src/ui/components/SideBar/styles.tsx
  src/ui/components/SideBar/useSorting.tsx
  src/ui/main/menuBar.ts
  src/ui/main/rootWindow.ts
  src/ui/main/serverView/index.ts
  src/ui/main/touchBar.ts
  src/ui/main/trayIcon.ts
  src/ui/reducers/currentView.ts
  yarn.lock
Labels: type: new feature

#1920 style: Rounded square app icon for macOS
  build/background@2x.png
  build/icon.icns
  src/ui/icons/MacOSAppIcon.tsx
Labels: type: chore

#1925 fix: Preload script in sandboxed iframes
  src/ipc/channels.ts
  src/ipc/main.ts
  src/ipc/renderer.ts
  src/preload.ts
  src/ui/main/serverView/index.ts
Labels: feat: web view, subj: jitsi, type: bug

#1926 fix: Apply sidebar padding change on macOS
  src/ui/preload/sidebar.ts
Labels: feat: sidebar / servers list, plat: osx, type: bug
