Repository RocketChat/Rocket.Chat.Electron, pull requests merged in 2020-01, with the labels that each got.

#1463 fix!: Enable binary dictionaries for spell checking
  dictionaries/en-GB.bdic
  dictionaries/en-US.bdic
  dictionaries/en_GB.aff
  dictionaries/en_GB.dic
  dictionaries/en_US.aff
  dictionaries/en_US.dic
  dictionaries/es-ES.bdic
  dictionaries/es_ES.aff
  dictionaries/es_ES.dic
  dictionaries/pt-BR.bdic
  dictionaries/pt_BR.aff
  dictionaries/pt_BR.dic
  src/main.js
  src/preload.js
  src/preload/contextMenu.js
  src/preload/spellChecking.js
  src/preload/spellchecking.js
  src/scripts/events.js
  src/scripts/ipc.js
  src/scripts/spellChecking.js
Labels: feat: spell checker, type: bug

#1427 feat: Turkish language
  src/i18n/lang/tr-TR.i18n.json
Labels: feat: i18n, type: enhancement

#1481 chore: Update dependencies
  build/appx/Square150x150Logo.png
  build/appx/Square44x44Logo.png
  build/appx/StoreLogo.png
  build/appx/Wide310x150Logo.png
  build/icon.icns
  build/icon.ico
  build/icons/512x512.png
  build/installerIcon.ico
  build/uninstallerIcon.ico
  gulpfile.js
  package.json
  src/public/images/icon.png
  src/public/images/icon@2x.png
  src/public/images/tray/darwin-dark/default.png
  src/public/images/tray/darwin-dark/default@2x.png
  src/public/images/tray/darwin-dark/notification.png
  src/public/images/tray/darwin-dark/notification@2x.png
  src/public/images/tray/darwin/default.png
  src/public/images/tray/darwin/default@2x.png
  src/public/images/tray/darwin/notification.png
  src/public/images/tray/darwin/notification@2x.png
  src/public/images/tray/linux/default.png
  src/public/images/tray/linux/default@2x.png
  src/public/images/tray/linux/notification-1.png
  src/public/images/tray/linux/notification-1@2x.png
  src/public/images/tray/linux/notification-2.png
  src/public/images/tray/linux/notification-2@2x.png
  src/public/images/tray/linux/notification-3.png
  src/public/images/tray/linux/notification-3@2x.png
  src/public/images/tray/linux/notification-4.png
  src/public/images/tray/linux/notification-4@2x.png
  src/public/images/tray/linux/notification-5.png
  src/public/images/tray/linux/notification-5@2x.png
  src/public/images/tray/linux/notification-6.png
  src/public/images/tray/linux/notification-6@2x.png
  src/public/images/tray/linux/notification-7.png
  src/public/images/tray/linux/notification-7@2x.png
  src/public/images/tray/linux/notification-8.png
  src/public/images/tray/linux/notification-8@2x.png
  src/public/images/tray/linux/notification-9.png
  src/public/images/tray/linux/notification-9@2x.png
  src/public/images/tray/linux/notification-dot.png
  src/public/images/tray/linux/notification-dot@2x.png
  src/public/images/tray/linux/notification-plus-9.png
  src/public/images/tray/linux/notification-plus-9@2x.png
  src/public/images/tray/win32/default.ico
  src/public/images/tray/win32/notification-1.ico
  src/public/images/tray/win32/notification-2.ico
  src/public/images/tray/win32/notification-3.ico
  src/public/images/tray/win32/notification-4.ico
  src/public/images/tray/win32/notification-5.ico
  src/public/images/tray/win32/notification-6.ico
  src/public/images/tray/win32/notification-7.ico
  src/public/images/tray/win32/notification-8.ico
  src/public/images/tray/win32/notification-9.ico
  src/public/images/tray/win32/notification-dot.ico
  src/public/images/tray/win32/notification-plus-9.ico
  yarn.lock
Labels: dependencies, type: chore

#1486 fix: Screen sharing in Jitsi
  src/preload/jitsi.js
Labels: feat: screen sharing, type: bug
